Source: jellyfin
Section: misc
Priority: optional
Maintainer: Jellyfin Packaging Team <packaging@jellyfin.org>
Build-Depends:  debhelper (>= 9),
                dotnet-sdk-2.2,
                libc6-dev,
                libcurl4-openssl-dev,
                libfontconfig1-dev,
                libfreetype6-dev,
                libssl-dev
Standards-Version: 3.9.4
Homepage: https://jellyfin.org/
Vcs-Git: https://github.org/jellyfin/jellyfin-debian.git
Vcs-Browser: https://github.org/jellyfin/jellyfin-debian

Package: jellyfin
Replaces: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Breaks: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Conflicts: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Architecture: any
Depends: at,
         libsqlite3-0,
         jellyfin-ffmpeg | ffmpeg >= 4.1,
         libfontconfig1,
         libfreetype6,
         libssl1.1 | libssl1.0
Description: Jellyfin is a home media server.
 It is built on top of other popular open source technologies such as Service Stack, jQuery, jQuery mobile, and Mono. It features a REST-based api with built-in documentation to facilitate client development. We also have client libraries for our api to enable rapid development.
